
@{
    ViewBag.Title = "Enternewpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta etiketleri -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA_Compatible" content="IW = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>SKY LINE - Forgot Password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+material-symbols-outlined"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="forgotall">
        <div class="forgot_wrapper">

            <div class="forgot_container">

                <div class="title_section">

                    <h2 class="title">Reset Password</h2>
                    <p class="para">
                        Enter your new password and confirm it.
                    </p>
                </div>
                <form action="" class="form">
                    <div class="input_group">
                        <label for="" class="label_title"></label>
                        <input type="password" name="password" placeholder="Enter your New Password" required>
                        <input type="password" name="password" placeholder="Confirm New Password" required>
                    </div>

                    <div class="input_group">
                        <div class="submit_btn">
                            <a href="login.html" type="submit">Reset Password</a>
                        </div>

                    </div>
                </form>
            </div>


        </div>
    </div>
</body>
</html>