
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta etiketleri -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA_Compatible" content="IW = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />

    <!-- Sayfa başlığı -->
    <title>SKY LINE</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+material-symbols-outlined" rel="stylesheet">

    <!-- Font Awesome ikon kitinin bağlantısı -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="AboutUs_inside">
        <!-- Boşluk eklenmiş çizgi elemanları. sayfa görünümünü düzenlemek için. -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 class="AboutUs_title"> ABOUT US</h1>
        <br>
        <!-- *******************"      Hakkımızda" kartlarının bulunduğu bir liste unordered list        ********************************-->

        <ul class="AboutUs_cards">
            <li class="AboutUs_cards_item">
                <div class="AboutUs_card" tabindex="0">
                    <div class="AboutUs_card_image">
                        <img src="~/WebPhoto/history.jpg" alt="History">
                    </div>
                    <div class="AboutUs_card_content">
                        <h2 class="AboutUs_card_title">Sky Line History</h2>
                        <div class="AboutUs_card_text">
                            <p>
                                Sky Line is a fictional airline company that was founded in 1995. The company's
                                mission is to
                                provide safe and reliable air travel to passengers around the world.
                            </p>
                            <p>
                                Throughout its history, Sky Line has grown from a small regional carrier to a
                                global player
                                in the aviation industry. The airline's commitment to customer satisfaction, safety,
                                and
                                innovation
                                has been the key to its success.
                            </p>
                            <p>
                                In 2005, Sky Line introduced its first long-haul flights, connecting major cities
                                across
                                continents. This expansion marked a significant milestone in the company's history.
                            </p>
                            <p>
                                Today, Sky Line continues to serve millions of passengers annually, with a fleet
                                of modern
                                aircraft and a network of destinations that span the globe. The airline looks
                                forward to
                                a bright
                                future and further growth in the aviation industry.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="AboutUs_cards_item">
                <div class="AboutUs_card" tabindex="0">
                    <div class="AboutUs_card_image">
                        <img src="~/WebPhoto/partnership.jpg" alt="parnership ">
                    </div>
                    <div class="AboutUs_card_content">
                        <h2 class="AboutUs_card_title">Inline Partners</h2>
                        <div class="AboutUs_card_text">
                            <p>
                                We are proud to partner with a select group of airlines that share our commitment to
                                providing
                                exceptional service and convenience to our passengers. Our partnerships with Horizon
                                Airways,
                                Starfly
                                Airlines, and KLM Airlines have allowed us to expand our network and offer even more
                                travel
                                options to our customers. Together, we look forward to a future of seamless travel
                                and
                                exceptional experiences.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="AboutUs_cards_item">
                <div class="AboutUs_card" tabindex="0">
                    <div class="AboutUs_card_image">
                        <img src="~/WebPhoto/mission.jpg" alt="Mission ">
                    </div>
                    <div class="AboutUs_card_content">
                        <h2 class="AboutUs_card_title">Our Partners</h2>
                        <div class="AboutUs_card_text">
                            <p>
                                At Sky Line, our mission is to shape the future of air travel. Over the next 10-20
                                years,
                                we
                                are
                                committed to delivering a new era of aviation excellence. Our primary objectives
                                are:
                            </p>
                            <ul>
                                <li>
                                    Offering cutting-edge in-flight entertainment and technology to enhance the
                                    passenger
                                    experience.
                                </li>
                                <li>
                                    Expanding our route network to connect even more cities and regions, providing
                                    more
                                    travel
                                    options.
                                </li>
                                <li>
                                    Investing in sustainable and eco-friendly aviation practices to reduce our
                                    carbon
                                    footprint.
                                </li>
                                <li>
                                    Continuously improving customer service to ensure passenger satisfaction and
                                    loyalty.
                                </li>

                            </ul>
                            <p>
                                We look forward to a future where aviation is more accessible, sustainable, and
                                enjoyable for all.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="AboutUs_cards_item">
                <div class="AboutUs_card" tabindex="0">
                    <div class="AboutUs_card_image">
                        <img src="~/WebPhoto/Fleet-airline.jpg" alt="OurFleet ">
                    </div>
                    <div class="AboutUs_card_content">
                        <h2 class="AboutUs_card_title">Our Fleet</h2>
                        <div class="AboutUs_card_text">
                            <p>
                                Sky Line boasts a fleet of 29 passenger aircraft, including Airbus A320, Airbus
                                A321neo,
                                and Boeing 737 models. Our commitment to passenger satisfaction is reflected in the
                                advanced features and efficiency of each aircraft, ensuring a seamless and enjoyable
                                travel experience. Trust Sky Line for a journey that combines modernity, comfort,
                                and
                                reliability.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="AboutUs_cards_item">
                <div class="AboutUs_card" tabindex="0">
                    <div class="AboutUs_card_image"><img src="~/WebPhoto/award5.jpg" alt="awards"></div>
                    <div class="AboutUs_card_content">
                        <h2 class="AboutUs_card_title">Awards</h2>
                        <div class="AboutUs_card_text">
                            <p>
                                In 2015, we were honored with the "Excellence in Passenger Services" award,
                                recognizing
                                our
                                commitment to providing top-notch services to our passengers, from check-in to
                                in-flight
                                experience.
                            </p>

                        </div>
                    </div>
                </div>
            </li>
            <li class="AboutUs_cards_item">
                <div class="AboutUs_card" tabindex="0">
                    <div class="AboutUs_card_image"><img src="~/WebPhoto/tema.jpg" alt="responsibility"></div>
                    <div class="AboutUs_card_content">
                        <h2 class="AboutUs_card_title">Responsibility</h2>
                        <div class="AboutUs_card_text">
                            <p>
                                As part of our commitment to environmental conservation, Sky Line plants trees every
                                year
                                equal
                                to the number of passengers we transport. We have partnered with the TEMA Foundation
                                for
                                this
                                initiative.
                            </p>

                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <!-- Ionicons ikonları için gerekli script -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>