
@{
    ViewBag.Title = "Countryinfo";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta etiketleri -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA_Compatible" content="IW = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />

    <!-- Sayfa başlığı -->
    <title>SKY LINE - Country Information</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+material-symbols-outlined"
          rel="stylesheet">

    <!-- Font Awesome ikon kitinin bağlantısı -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>

</head>

<body>
    
    <div class="custom-body">
        <div class="custom-header">
            <h1 class="custom-h1">Country Information</h1>
            <h2>Choose your destination country below to view the restrictions and procedures related to travel.</h2>
        </div>

        <div class="custom-section">
            <img src="~/WebPhoto/worldmap.png" alt="Country Image" class="custom_img">

            <div class="custom-info-boxes">
                <div class="custom-info-box">
                    <div class="box" style="background-color: green;">67</div>

                    <h3>No Visa Required</h3>
                    <p>You don't need a visa to travel to this destination. You're good to go!</p>

                </div>

                <div class="custom-info-box">

                    <div class="box" style="background-color: yellowgreen;">30</div>

                    <h3>Visa on Arrival</h3>
                    <p>No need to apply for a visa before you go, but you'll need to get one on arrival.</p>
                </div>

                <div class="custom-info-box">
                    <div class="box" style="background-color: yellow;">34</div>

                    <h3>eVisa or eTA required</h3>
                    <p>You require an eVisa to travel to this destination. You can get one online.</p>
                </div>

                <div class="custom-info-box">
                    <div class="box" style="background-color: lightsalmon;">97</div>

                    <h3>Paper Visa Required</h3>
                    <p>You can travel to this destination but you have to obtain an embassy visa.</p>
                </div>

                <div class="custom-info-box">
                    <div class="box" style="background-color: lightcoral;">0</div>

                    <h3>Entry Restricted</h3>
                    <p>Travel is only open for returning citizens and those meeting strict requirements.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>