
@{
    ViewBag.Title = "Lounges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <!-- Meta etiketleri -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA_Compatible" content="IW = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />

    <!-- Sayfa başlığı -->
    <title>SKY LINE - Lounges</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+material-symbols-outlined"
          rel="stylesheet" />

    <!-- Font Awesome ikon kitinin bağlantısı -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js"
            crossorigin="anonymous"></script>
    <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>


    <!-----BODY--------------------------------->
    <div class="photo">
        @*<img style="width: 100%; height: 90%" src="@Url.Content("~/WebPhoto/banner.avif")" />*@
        <img style="width: 100%; height: 90%" src="~/WebPhoto/Baggage2.jpg"/>
        <div class="overlay-text">
            <h3>Feel the Lounge privilege on your domestic flights!</h3>
            <h5>
                <span>
                    We offer delicious treats and comfortable areas in our Lounge
                    Domestic private passenger lounges to our guests who want to have a
                    privileged travel experience before their flight on domestic
                    flights.
                </span>
            </h5>
        </div>
    </div>
    <div class="loungescontainer">
        <h1 style="color: black; text-align: center; font-size: 3em">
            Pleasant experience before flight!
        </h1>
    </div>

    <div class="context">
        <p style="
          margin-left: 15%;
          width: 70%;
          text-align: center;
          font-size: 18pt;
          color: black;
        ">
            We add value to your time with gourmet tastes, rest/work areas and all
            other facilities offered to you in our lounges before your domestic
            flight at Istanbul Airport.
        </p>
    </div>
    <div class="ortadiscizgi1">
        <div class="orta_alan1">
            <div class="orta">
                <div class="icerik">
                    <img class="Loungesimg" src="~/WebPhoto/Baggage2.jpg" />
                    <h3>Resting Area</h3>
                    <p>
                        For a calm and fit start to your trip, you can use the reclining
                        chairs in our relaxation area.
                    </p>
                </div>
            </div>

            <div class="ortacizgi">
                <div class="icerik">
                    <h3>Beverage Area</h3>
                    <p>
                        Before your journey, you can enjoy relaxing while sipping our
                        range of hot and cold drinks.
                    </p>
                    <img class="Loungesimg" src="@Url.Content("~/WebPhoto/02.avif")" />

                </div>
            </div>

            <div class="orta">
                <div class="icerik">
                    <img class="Loungesimg" src="~/WebPhoto/FLYINGWITHSKYLINESphoto10.jpg" />
                    <h3>Hot Meal And Chef's Presentation</h3>
                    <p>
                        You can experience gourmet flavors of your choice from Turkish and
                        world cuisine with special presentations by our chefs.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ortadiscizgi2">
        <div class="orta_alan2">
            <div class="orta">
                <div class="icerik">
                    <img class="Loungesimg" src="~/WebPhoto/04.avif" />
                    <h3>Children's Play Area</h3>
                    <p>
                        You can make your children's trip more fun with the playground we
                        designed for our little guests.
                    </p>
                </div>
            </div>

            <div class="ortacizgi">
                <div class="icerik">
                    <h3>Working area</h3>
                    <p>
                        The meeting room, also located in this area, was prepared
                        considering all the needs of our passengers who do not want to
                        disrupt their pre-travel work.
                    </p>
                    <img class="Loungesimg" src="@Url.Content("~/WebPhoto/05.avif")" />
                </div>
            </div>

            <div class="orta">
                <div class="icerik">
                    <img class="Loungesimg" src="@Url.Content("~/WebPhoto/06.avif")" />
                    <h3>Resting room</h3>
                    <p>
                        After the shower, you can have a pleasant resting experience by
                        going to the relaxation room in the same area.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>