
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta etiketleri -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA_Compatible" content="IW = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />

    <!-- Sayfa başlığı -->
    <title>SKY LINE</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+material-symbols-outlined"
          rel="stylesheet">

    <!-- Font Awesome ikon kitinin bağlantısı -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>

<body>

 <!--  *********************************************** POLICY PART *********************************************************-->

    <section class="policy" id="policy">
        <h1 class="policyTitle">Our Policy</h1>

        <div class="policyAcordion">
            <div class="policyHeader">
                <h3>Safety Policy</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="policyIndex">
                <p>
                    In Sky Lines Airlines, safety is the first priority for our passengers and employees. We, as Sky Lines Management, hereby declare that it is our responsibility to develop, employ and continuously improve a safety management system, with the objective of establishing a level of safety performance that meets national and international standards. All levels of management and employees are responsible for maintaining and continuously improving the level of safety.
                </p>
                <p>
                    Our management is committed to:
                    <br>
                    <ul>
                        <li>Provide and promote the necessary human and financial resources to support this policy;</li>
                        <li>Define accountabilities and responsibilities for all management and employees with regard to safety management system;</li>
                        <li>Ensure that the employees are competent in concepts of safety by providing regular and ongoing support for safety training and awareness;</li>
                        <li>Foster and encourage a positive safety culture that features flat, just, adaptive, committed, informed, learning, and reporting elements among employees;</li>
                        <li>Encourage employees to report safety issues, hazards and occurrences, which will be handled in a non-punitive manner, except for cases involving reckless behavior, deliberate violations or a history of non-compliance;</li>
                        <li>Ensure safety hazards are identified and risks are managed by appropriate means and risks are minimized to a point that as a low as a reasonably practicable/achievable;</li>
                        <li>Ensure that all relevant safety events are analyzed and investigated, corrective and preventive actions implemented;</li>
                        <li>Follow up with safety related actions and keep track of their effectiveness;</li>
                        <li>Process, routinely review, and aim to continuously improve safety performance indicators;</li>
                        <li>Periodically review safety policies, procedures and practices to ensure compliance with standards, regulations and best practices;</li>
                        <li>Ensure that externally supplied systems and services that impact upon the safety of our operations are aware of this policy and meet appropriate safety standards;</li>
                        <li>Require all employees to familiarize themselves and comply with safety policies and procedures;</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="policyAcordion">
            <div class="policyHeader">
                <h3>Quality Policy</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="policyIndex">
                <p>Sky Lines;&nbsp;</p>
                <p>Acts in accordance with the relevant standards, the national and international aviation regulations it is liable to comply with, and the legal and other requirements within the scope of the Quality Management System. Commits to the continuous improvement of the Quality Management System by using the appropriate method and resources with the participation of employees in order to achieve its goals and objectives. &nbsp;</p>
                <p><strong>Seeking Excellence in Service &nbsp;</strong></p>
                <p>Works to raise the flight, training and cargo transportation services it offers to higher levels by adopting a culture of excellence. &nbsp;</p>
                <p><strong>Attaching Importance to Safety and Security in all Services  &nbsp;</strong></p>
                <p>Works as focused on “zero error” target to ensure flight safety and security by using competent human resources, advanced technological means in working environments equipped with the appropriate infrastructure.  &nbsp;</p>
                <p><strong>Exhibiting a Customer-Oriented Approach  &nbsp;</strong></p>
                <p>
                    Evaluates the customers’ current and future expectations and needs by considering their different cultures, and provides services exceeding the service provided by its competitors.
                    Evaluates all feedbacks effectively to keep the customer’s satisfaction at the highest level.  &nbsp;
                </p>
                <p><strong>Making a Difference with Employees &nbsp;</strong></p>
                <p>Provides service through the employees who are aware of the value their works will add to the service given to the customer, who own the Company's values, who produce solutions, who adopt their works, who share their knowledge, who know and participate in teamwork, who develop themselves continuously, who are encouraged to show leadership, and whose needs and expectations are taken care of. &nbsp;</p>
                <p><strong>Using the Best Technology &nbsp;</strong></p>
                <p>Ensures that the best available technology is used in its activities by following the innovations that will make a difference among the competitors. &nbsp;</p>
                <p><strong>Managing the Resources &nbsp;</strong></p>
                <p>Provides and effectively manages all the resources needed to maximize safety, security, and quality. &nbsp;</p>
                <p><strong>Having a Say in Global Civil Aviation &nbsp;</strong></p>
                <p>Carries out works as focused on playing an active role in the management, activities, and decisions of the national and international civil aviation organizations. &nbsp;</p>
                <p><strong>Joining Forces with our Stakeholders &nbsp;</strong></p>
                <p>Joins forces by taking into account the needs and expectations of all stakeholders for the continuity of stable growth and long-term success worldwide.&nbsp;</p>
            </div>
        </div>

        <div class="policyAcordion">
            <div class="policyHeader">
                <h3>Security Policy</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="policyIndex">
                <p>Sky Lines Corporation hereby declares its Security Policy to ensure security and the constant improvement of operational conditions during the course of its activities. These include passenger transportation, cargo transportation, and training conducted according to national and international regulations and standards.&nbsp;</p>
                <p><strong>To Ensure Operational Security &nbsp;</strong></p>
                <p>Sky Lines Corporation develops and implements and ensures implementation of processes to prevent acts of unlawful interference that may occur on the ground or during flights and establishes security objectives and security performance standards. While implementing these processes, Sky Lines provides a periodic policy review to ensure continuing relevance to organizational needs and to the requirements of security performance standards. &nbsp;</p>
                <p><strong>Management of Security-Related Activities &nbsp;</strong></p>
                <p>Sky Lines Corporation ensures a clear statement of the organization's security objectives and the measures taken in order to conform to national and international security regulations. It executes its corporate security management system to provide security to all its activities with constant improvement. &nbsp;</p>
                <p><strong>To Determine Security Responsibilities &nbsp;</strong></p>
                <p>Sky Lines Corporation determines the responsibilities of its employees regarding security-related issues and ensures a commitment to security from senior management as a fundamental priority throughout the organization. &nbsp;</p>
                <p><strong>To Identify Security Vulnerabilities and Risks &nbsp;</strong></p>
                <p>To ensure that the security measures required for ensuring protection of staff members, passengers, visitors, buildings, facilities/premises, aircrafts of Sky Lines Corporation as well as of any cargo, for which Sky Lines is liable for carrying, against any and all kinds of sabotage, assaults, hostage-taking and such other similar incidents threating security, are determined by means of risk-based activities. It implements the determined measures and ensures their implementation. &nbsp;</p>
                <p><strong>To Provide the Highest Level of Communication &nbsp;</strong></p>
                <p>Sky Lines Corporation promotes a just culture where the flow of information and communication is carried out objectively between senior management and the employees in order to support all activities in a secure framework. Communication shall be executed in a secure manner, including non-punitive reporting procedures to encourage the reporting of any inadvertent human error. &nbsp;</p>
                <p><strong>To Establish and Promote a Corporate Security Culture &nbsp;</strong></p>
                <p>Sky Lines Corporation ensures that all necessary arrangements are made to establish and promote a “Corporate Security Culture”. It promotes activities to increase security awareness and to make security an integral part of the corporate management system. &nbsp;</p>
                <p><strong>To Provide Necessary Resources for Security &nbsp;</strong></p>
                <p>Sky Lines Corporation ensures the provision of the resources necessary for the successful implementation of the security policy. &nbsp;</p>
            </div>
        </div>

        <div class="policyAcordion">
            <div class="policyHeader">
                <h3>Customer Satisfaction Policy</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="policyIndex">
                <p>As Sky Lines we lend ear to our customers without any economic expectation by providing communication opportunities through which our customers can deliver their expectations, complaints, suggestions and satisfaction in passenger transportation activity that we perform with a customer-oriented approach. We implement compensation methods to ensure customer satisfaction as well as evaluate feedbacks of our customers and produce solutions by considering national and international legal requirements, legislative requirements, civil aviation rules and documented information of the Company. &nbsp;</p>
                <p>We assess and manage the processes for understanding, identifying, analyzing, directing, providing solutions and notifying results to customers in the most accurate manner about customer complaints related to our operations with a customer-oriented approach in accordance with the principles of transparency, accessibility, responsiveness, objectivity, confidentiality and accountability, as well as we utilize such and information to ensure our continuous improvement. &nbsp;</p>
                <p>In accordance with the expectations and requirements of our customers, we continuously improve our processes by using the feedbacks received particularly from our customers and employees, as well as from all of our stakeholders and by providing all necessary resources to improve our products and services. &nbsp;</p>
            </div>
        </div>

        <div class="policyAcordion">
            <div class="policyHeader">
                <h3>Energy Policy</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="policyIndex">
                <p>As Sky Lines Incorporation, we adopt the principles of using energy with the maximum efficiency, reducing the use of natural resources, and sustainable development. In this context, Sky Lines declares its Energy Policy in order to bring together its employees, customers, suppliers, sub-employers, affiliates, all business partners and shareholders for the same purpose.</p>
                <p><strong>Obeying Legal Legislation and Requirements&nbsp;</strong></p>
                <p>It obeys the national and international legal legislations and requirements related to energy use, consumption, and efficiency; it carries out our activities by obtaining all information and resources necessary for an energy management system targeting continuous development in line with our goals and targets.&nbsp;</p>
                <p><strong>Managing the Resources&nbsp;</strong></p>
                <p>It provides the human, technology, infrastructure, finance, etc. resources required for Energy Efficiency and reduction of the use of Natural Resources, and gives priority to energy efficiency in the investments and operations planned for the future.&nbsp;</p>
                <p><strong>Following Technology&nbsp;</strong></p>
                <p>It follows efficient technologies in all processes and considers energy efficient products, services and designs that contribute to the improvement of energy performance as a priority criterion in purchasing processes.&nbsp;</p>
                <p><strong>Developing Continuously&nbsp;</strong></p>
                <p>It works to improve our energy performance and energy management system continuously.&nbsp;</p>
                <p><strong>Performance Monitoring&nbsp;</strong></p>
                <p>It continuously reviews our performances by monitoring our goals and targets set in compliance with our policy with the Energy Performance Indicators.&nbsp;</p>
                <p><strong>Bequeathing a Habitable World for Future Generations&nbsp;</strong></p>
                <p>It carries out projects increasing the energy efficiency to decrease the greenhouse emissions arising from our operations, and aims to increase the use of the renewable energy resources.&nbsp;</p>
                <p><strong>Developing along with Stakeholders&nbsp;</strong></p>
                <p>It carries out works to raise energy efficiency awareness of our employees by establishing an effective communication with all our stakeholders&nbsp;</p>
            </div>
        </div>

    </section>


    <!-- Ionicons ikonları için gerekli script -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>