
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta etiketleri -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA_Compatible" content="IW = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />

    <!-- Sayfa başlığı -->
    <title>SKY LINE</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+material-symbols-outlined"
          rel="stylesheet">

    <!-- Font Awesome ikon kitinin bağlantısı -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- *******************************************************PRIVACY PART ******************************************************************-->


    <div class="privacy">
        <div class="privacyHeader">
            <h1>Privacy</h1>
        </div>
        <div class="textBlock">
            <h2><strong>Collection And Use Of Data</strong></h2>
            <ol>
                <li value="1">

                    <h3><strong>General</strong></h3>

                </li>
            </ol>
            <p>In order to access or request certain functionalities or services available on our website, you may be required to enter information that qualifies as personal data. </p>
            <p>Personal data means any information relating to an identified or identifiable natural person (“Personal Data”).</p>
            <p>Personal Data may also be collected by third party service providers through external websites to which we provide a link, as shall be described below. </p>
            <p>In addition, Sky Lines collects information in a form that does not, on its own, permit direct association with a specific natural person, such as but not limited to, language choices, your current location (city), or your IP address (to the extent that it cannot be traced back to a specific street address) and user activity on the Sky Lines website (“Non-Personal Data”).  If Sky Lines combines Non-Personal Data with Personal Data (“Data”), the combined data will be treated as Personal Data for as long as it remains combined. </p>
            <p>Personal Data is not collected for any purpose other than for the purposes stated in this Privacy Policy and will not be shared with any third party unless required by the applicable law. Personal Data will not be collected for profiling or other automated decision-making.</p>
            <p>The means in which your Data  is collected on or through our website, regional websites or linked third party websites shall be described in the following sections.</p>

            <ol>
                <li value="2">

                    <h3><strong>Sky Lines Website</strong></h3>

                </li>
            </ol>
            <p>
                <strong>Scope and Purpose of Collection</strong>
                <br>
                Sky Lines collects Personal Data in relation to the newsletter subscription service available on certain regional websites.
                <br>
                Sky Lines collects the following Personal Data:
                <br>
                your first name, last name, email address and optionally your company name.
                <br>
                The purpose of the collection and further processing of your Personal Data is (i) registering your subscription; (ii) providing you, on a regular basis, with selected news articles regarding our Member Carriers; and (iii) sending you, from time to time, special offers made available by our Member Carriers.

            </p>

            <p>
                <strong>Consent</strong>
                <br>
                By subscribing to our newsletter, you consented to the processing of your Personal Data for the purpose specified above in accordance with Art. 6, Subparagraph 1(a) GDPR.
                <br>
                you may send us an email at skylines@skylines.com with your request to trigger the deletion of your Personal Data.
                <br>
            </p>

            <p>
                <strong>Storage Period</strong>
                <br>
                Because our newsletter is delivered on a continuous and regular basis, your Personal Data shall be stored as long as necessary for the provision of the newsletter subscription service to you outlined above, unless otherwise notified by you using the unsubscribing means specified above (see ‘Consent’ section).

            </p>

            <p>
                <strong>Secure Processing</strong>
                <br>
                Sky Lines shall treat your Personal Data with utmost care and store it securely in accordance with the applicable laws. Therefore, we only use computer systems with limited access housed in facilities using physical security measures.
                <br>
                Your Personal Data will only be available to the limited number of Sky Lines administrators administering the newsletter.
            </p>

            <ol>
                <li value="3">

                    <h3><strong>Contact Details</strong></h3>

                </li>
            </ol>

            <p>If you want to exercise your legal rights or have any questions or concerns about this Privacy Policy, please contact us or our Data Protection Officer by using the following channels: </p>
            <p>
                <u>Postal Address</u>
                <br>
                Sky Lines Services
                <br>
                Istanbul Airport Center 1
                <br>
                5th Floor
                <br>
                3400 Istanbul/Turkey
                <br>

            </p>

            <p>
                <u>Fax Number</u>
                <br>
                0212 888 88 88
            </p>

            <p>Sky Lines Data Protection Officer: privacy(at)skylines.com</p>

            <p>For any queries in relation to the Sky Lines Turkey Newsletter only, please write to info@sky-lines.tr.</p>

            <ol>
                <li value="4">

                    <h3><strong>Changes To This Policy</strong></h3>

                </li>
            </ol>
            <p>
                Sky Lines reserves the right to make changes and amendments to this policy from time to time in accordance with the applicable laws. Any material changes in the way we use your Data will be posted on this page.
                <br>
                For any material changes in the way we wish to use your Personal Data we will ask for your consent.
            </p>

        </div>
    </div>

    <!-- Ionicons ikonları için gerekli script -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</body>

</html>