
@{
    ViewBag.Title = "Baggageinformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggage Information</title>

</head>
<body style="margin: 0;">
    <!--**********************************************************Baggage Part**********************************************************-->


    <div class="Baggage-Information">
        <div class="Baggage-Header-layout">
            <div class="Baggage-header">
                <h1 style="text-align: center; font-size: 46px; color: #001d3d; background-color: rgba(204, 204, 204, 0.932); display: inline-block; margin-left: 35%; ">Baggage Information</h1>
                <p style="margin: 5%; font-size:20px; color: #001d3d; font-size: 1.5em; background-color: rgba(204, 204, 204, 0.932);">
                    Ensure a seamless booking experience by prominently displaying the airline's luggage policies on your website.
                    Include details such as weight limits, dimensions, and any additional charges for exceeding the allowed limits.
                    his information is crucial for passengers to plan and pack efficiently.
                </p>
            </div>
        </div>
        <div class="RESTRICTED-ITEMS">

            <h1 style="text-align: center; color: black; font-size: 3em;">RESTRICTED ITEMS</h1>
            <ul style="margin-left: 10%; color: black; font-size: 18px; margin-left: 23%;">
                <li>​Compressed gasses (flammable, non-flammable and poisonous) such as aerosols, camping gas.</li>
                <li>
                    Explosives, ammunitions, fireworks and flares
                    (except sporting firearms which doesn’t exceed 5kg of ammunitions per passenger and a max of 2 rifles).
                </li>
                <li>Ethologic agents (chemical reagent).</li>
                <li>Flammable liquid and solids such as (lighter, matches, paints, thinner).</li>
                <li>Corrosives ( such as acids , alkalis, wet cell batteries … etc )</li>
                <li>Irritants</li>
                <li>Knives, daggers, swords...Etc</li>
                <li>
                    According to the FAA (Federal Aviation Administration) – SAFO (Safety Alert For Operators)
                    its recommended that the e-cigarettes and related devices must be carried in the carry bags not in checked baggage.
                </li>
                <li>Radioactive material</li>
                <li>Oxidizing material (bleaching powder...etc)</li>
                <li>Miscellaneous hazardous goods (such as mercury, noxious materials, magnetized materials or offensive material)</li>
            </ul>
        </div>

        <div class="MUSICAL-INSTRUMENTS">

            <h1 style="text-align: center; color: black; font-size: 3em">MUSICAL INSTRUMENTS</h1>
            <p>
                <ol style="margin-left: 24%; margin-right: 1%;  ">
                    <br />
                    <li style="font-size: 2em; ">In Cabin (Small Musical instruments)</li>
                    <p style="font-size: 1.25em;">
                        You may bring your small musical instrument (Such as small Guitar, Violin, Violas, Piccolos, Flutes, Clarinets, Trumpets, Oud … etc.)
                        on board as part of your carry‐on baggage allowance in cabin, provided that it meets the current SKYFLYcarry‐on
                        size requirements (08 Kgs / 118 Cm ) including the hard case.<br />

                        We advise you to carry your instrument in a hard case, whether it is travelling in the cabin or in the hold, and ensure you are properly insured.
                        We cannot accept instruments for travel in soft cases.
                        Economy class passenger holding musical instruments inside the customer cabin is not entitled
                        for carry-on baggage, but he is entitled to carry personal items such as ladies hand-bag, laptop ….<br />
                        Note: In certain cases we may ask first and business class customers to check their second Piece of hand-bag:
                    </p>
                    <ul style="font-size: 1.25em;">
                        <li>If travelling to countries with restrictive government regulations (e.g.: to/from or within USA)</li>
                        <li>If the flight operated by small aircrafts</li>
                        <li>Flights departing from South Africa are restricted to 07 Kgs per piece with total dimensions 115 Cm.</li>
                    </ul>

                    <br />
                    <li style="font-size: 2em;">In the aircraft compartment (Large musical instruments)</li>
                    <p style="font-size: 1.25em;">
                        Large Musical instruments Such as (Cellos, Guitar, saz , Kanoon,… etc.) is accepted as checked baggage due to their size, shape, weight and length.
                        The customer is allowed to carry musical instrument as part of his free baggage allowance (within the permitted Weight and size limits).
                        If your baggage count (musical instrument + number of other bags to be checked) exceeds the maximum number of items allowed by your fare type,
                        or Its size and weight exceeded the free baggage allowance, an additional fees will be paid by the customer as below.
                    </p>


                    <table style="color: white;">
                        <tr>
                            <th style="font-size: 2em;">Baggage Type</th>
                            <th style="font-size: 2em;">Criteria</th>
                            <th style="font-size: 2em;">Rate</th>
                        </tr>
                        <tr>
                            <td rowspan="2">Overweight Piece</td>
                            <td>From 23 Kgs and up to 32 Kgs</td>
                            <td>50% from the applicable excess baggage rate</td>
                        </tr>
                        <tr>
                            <td>Over 32 Kgs</td>
                            <td>100% from the applicable excess baggage rate</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Over Size Piece</td>
                            <td>From 158 Cm and up to 203 Cm</td>
                            <td>50% from the applicable excess baggage rate</td>
                        </tr>
                        <tr>
                            <td>Over 203 Cm</td>
                            <td>100% from the applicable excess baggage rate</td>
                        </tr>
                        <tr>
                            <td>Overweight and Over Size Piece</td>
                            <td colspan="2">100% from the applicable excess baggage rate</td>
                        </tr>
                    </table>
                    <br />
                    <ul style="font-size: 1.25em;">
                        <li>The maximum weight for the checked musical instrument including the hard case must not exceed 32 Kgs.</li>
                        <li>The musical instruments must be placed in a securely padded hard case (rigid container) that is designed for transporting or shipping of this item.</li>
                        <li>Limited release should be signed by the Customer.</li>
                        <li>If the weight of the musical instruments exceeds 32 Kgs or 203 Cm, it must be accepted as cargo.</li>
                        <li>
                            Due to temperature variation, expansion and contraction of the neck of stringed instruments may occur.
                            We advise Customers to loosen their strings before travel to prevent any strain or damage.
                        </li>
                    </ul>
                    <br />
                    <li style="font-size: 2em;">Inside the Customer cabin as “CBBG”</li>
                    <p style="font-size: 1.25em;">
                        Extra seat should be booked and paid by the customer who required to transport musical instrument inside the Customer cabin due to its valuable,
                        fragile nature or the musical instrument does not fit in the overhead compartment at least 24 hours before your flight <br />
                        you can purchase a seat for your musical instrument in its case (Such as Cellos, Guitar…. etc.) provided that:
                    </p>

                    <ul>
                        <li style="font-size: 1.25em;">Maximum 01 musical instrument is allowed per Customer as CBBG.</li>
                        <li style="font-size: 1.25em;">Maximum weight for the musical instrument inside the cabin is 75 KGS</li>
                        <li style="font-size: 1.25em;">The musical instruments must be well restrained in a way that it cannot move during the flight.</li>
                        <li style="font-size: 1.25em;">Window seat should be assigned for the musical instruments.</li>
                        <li style="font-size: 1.25em;">Musical instruments cannot be allocated in the exit row.</li>
                    </ul>

                    <br />
                    <li style="font-size: 2em;">Musical instruments accepted as cargo only</li>
                    <p style="font-size: 1.25em;">If the weight of the musical instruments exceeds 32 KGS or 203 Cm, it must be accepted as cargo. <br /></p>
                    <p style="font-size: 1.25em;">
                        Instruments larger than a cello (e.g. Double-bass, Harp, Geomungo …etc.)
                        there is no option to purchase a seat as these instruments are too large and heavy and must be accepted as cargo only.
                    </p>
                    <p style="font-size: 1.25em;">Note: If a code-share flight operated by another airline and included in the itinerary, the baggage rules of the other airline may apply.</p>
                </ol>
            </p>

        </div>

        <div class="SPORTS-EQUIPMENT">
            <h1 style="text-align: center; color: black; font-size: 3em;">SPORTS EQUIPMENT</h1>

            <table>
                <tr>
                    <th style="font-size: 2em;">Item</th>
                    <th style="font-size: 2em;">Allowance</th>
                    <th style="font-size: 2em;">Packing and Conditions</th>
                    <th style="font-size: 2em;">Additional Notes</th>
                </tr>
                <tr>
                    <td>AMMUNITION</td>
                    <td>Can be carried as checked baggage within the free baggage allowance.</td>
                    <td>Maximum 5 kg per passenger. Must be packed in a strong container made of wood, metal, or fiberboard, protected against shock. Must be packed separately from firearm. Declaration form required. Hold Loaded only. Any excess over 5 kg must be shipped as cargo.</td>
                    <td>Allowed from International to International only on Egyptair flights (operated by Ms).</td>
                </tr>
                <!-- Repeat the above pattern for other items -->
                <!-- ARCHERY EQUIPMENT -->
                <tr>
                    <td>ARCHERY EQUIPMENT</td>
                    <td>Can be carried as checked baggage within the free baggage allowance.</td>
                    <td>Maximum 23 kgs. Adequate packaging recommended.</td>
                    <td></td>
                </tr>

                <!-- BIKE -->
                <tr>
                    <td>BIKE</td>
                    <td>Can be carried as checked baggage within the free baggage allowance.</td>
                    <td>One suitably packed bicycle (single seat). Rotate the handlebar 90 degrees and tighten it in this position. The bikes shall be packed in a Carton box or in a special plastic box to protect them from damage. The pedals shall also be removed. The tires must be partially deflated. The maximum total weight 32 Kg, The maximum total dimensions 250 Cm (140 length + 28 width+82 height).</td>
                    <td>If the bike is packed in a container more than 23 Kg, it will be subject to standard service charge for overweight bags. If the bike is packed in a container more than 220 Cm linear (110 length + 28 width + 82 height), it will be subject to standard service charge for oversize bags.</td>
                </tr>

                <!-- FIREARM/ LASER GUN -->
                <tr>
                    <td>FIREARM/ LASER GUN</td>
                    <td>Can be carried as checked baggage within the free baggage allowance.</td>
                    <td>It must be suitably packed in a strong rigid container made of wood, metal, or fiber. Firearms must be unloaded and enclosed in cover.</td>
                    <td>Declaration form required. Weapons (Firearms) escorting fees From/To Geneva: 250.00 CHF + 8% TVA (TOTAL 270.00 CHF) per escort.</td>
                </tr>

                <!-- Repeat the above pattern for other items -->

            </table>

        </div>
    </div>


</body>
</html>