@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Lilita+One&family=Playfair+Display&family=Roboto:wght@500&display=swap");

.loginall {
    box-sizing: border-box;
}

/* Giriş pop-up düğmesi stili */
.navigation .btnLogin-popup {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    width: 130px; /* Genişlik */
    height: 50px; /* Yükseklik */
    background: transparent; /* Arka plan transparan */
    border-radius: 6px; /* Kenar yumuşatma */
    cursor: pointer; /* İmleci el simgesine çevirme */
    color: #fff; /* Metin rengi beyaz */
    font-weight: 500; /* Kalınlık */
    margin-left: 40px; /* Soldan iç içe boşluk */
    transition: 0.5s; /* Geçiş efekti ekleme */
}

.bodyall {
    margin-top: 10%;
    margin-bottom: 10%;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

    .bodyall h1 {
        font-weight: bold;
        margin: 0;
    }

    .bodyall h2 {
        text-align: center;
    }

    .bodyall p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    .bodyall span {
        font-size: 12px;
    }

    .bodyall a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    .bodyall button {
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid #001d3d;
        background-color: #001d3d;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin-top: 2%;
    }

        .bodyall button:active {
            transform: scale(0.95);
        }

        .bodyall button:focus {
            outline: none;
        }

        .bodyall button.ghost {
            color: #ffffff;
            background-color: 001d3d;
            border-color: #ffffff;
        }

    .bodyall form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

.gender {
    display: flex;
    width: 100%;
}

    .gender span {
        font-size: 15px;
        margin-top: 1%;
    }

    .gender label {
        display: flex;
        margin-right: 10px;
        border-radius: 15%;
    }

.bodyall input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.logincontainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1268px;
    max-width: 100%;
    min-height: 780px;
}

.overlay img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.logincontainer.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.logincontainer.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 1;
}

.logincontainer.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #001d3d;
    background: -webkit-linear-gradient(to right, #001d3d, #001d3d);
    background: linear-gradient(to right, #001d3d, #001d3d);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.logincontainer.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    margin-top: 145px;
    transform: translateX(-20%);
}

    .overlay-left h1 {
        color: #ffffff;
        font-size: 32px;
    }

    .overlay-left p {
        color: #ffffff;
        font-size: 16px;
    }

.logincontainer.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    margin-top: -250px;
    right: 0;
    transform: translateX(0);
}

    .overlay-right h1 {
        color: #001d3d;
        font-size: 32px;
    }

    .overlay-right p {
        color: #001d3d;
        font-size: 16px;
    }

.logincontainer.right-panel-active .overlay-right {
    transform: translateX(20%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gender {
    display: flex;
}

.gendercontent {
    text-align: center;
}

.hidden-content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

    .hidden-content label {
        display: inline-block;
    }

.accept label input {
    width: 15px;
    margin-top: 10px;
    text-align: right;
}

.hidden-content label input {
    width: 15px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: right;
}

.genderbutton {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    border-radius: 30%;
}

    .genderbutton:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
