@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Lilita+One&family=Playfair+Display&family=Roboto:wght@500&display=swap");

.PassengerDetailsBody {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1rem;
}

.passengerInfo {
    width: 60%;
    height: 300px;
    border: 2px solid rgb(6, 14, 118); /* Kenar çizgisi ekleyebilirsiniz */
    padding: 18px; /* İçerik ile kenar arasındaki boşluğu ayarlar */
    border-radius: 6px; /* Kenar yuvarlaklığını ayarlar */
    background-color: #eaedef; /* Arkaplan rengini değiştirebilirsiniz */
    position: relative;
}

.contactInfo {
    /* box-shadow:10px 10px;*/
    border: 2px solid rgb(6, 14, 118);
    background-color: #eaedef;
    width: 60%;
    height: 400px;
    margin-top: 20px;
    border-radius: 6px;
    padding: 18px;
}

.passengerDetails {
    /* margin-left: 50px;*/
    margin-top: 10px;
    /* padding-top: 200px;*/
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

hr.solid {
    border-top: 3px solid rgb(6, 14, 118);
}

/*form input kutucuklarının şekilsel düzenlemeleri*/
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form_group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    /*width:50%;  */
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder

{
    color: transparent;
}

&:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px; /*placeholder'ın üstten ne kadar boşluıkla gösterileceği*/ /*başka şekilde çözdüm gerek yok artık*/
}

}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    ~ .form__label

{
    position: absolute;
    top: 0; /*name yazısının okadar yukarı çıkmaması için placeholder-shown ~ .form__label içindeki top ile bağlantılı şekilsel ayarlama yapılmalı*/
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(6, 14, 118); /*yazmak için name üstüne tıklandıktan sonraki name rengi*/
    font-weight: 700;
}

padding-bottom: 6px;
font-weight: 700;
border-width: 3px;
border-image: linear-gradient(to right, rgb(6, 14, 118),rgb(4, 4, 253));
border-image-slice: 1px;
}
/* reset input */
.form__field {
    &:required,&:invalid

{
    box-shadow: none;
}
}
